
<%- include("../partial/footer") %>

<footer>
    <selection class="container-footer">
        <selection class="row-footer">
            <!-- Footer col-->
            <selection class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li> <a href=""> Quem Somos</a> </li>
                    <li> <a href=""> Politíca de privacidade</a> </li>
                    <li> <a href=""> Agregados/Afiliados </a> </li>
                </ul>

            </selection>

            <!--end footer col-->
            <!-- Footer col-->
            <selection class="footer-col">
                <h4>Obter Ajuda</h4>
                <ul>
                    <li> <a href=""> Devoluções</a> </li>
                    <li> <a href=""> Status de pedido </a> </li>
                    <li> <a href=""> Opções de pagamento </a> </li>
                </ul>

            </selection>
            <!--end footer col-->
            <!-- Footer col-->
            <selection class="footer-col">
                <h4>Entre em contato</h4>
                <ul>
                    <li> <a href=""><i class="fa fa-whatsapp"></i> 551199999-9999</a> </li>
                    <li> <a href=""> sk8california@gmail.com</a> </li>
                    <li> <a href=""> Rua sucesso</a> </li>


                </ul>

            </selection>
            <!--end footer col-->
            <!-- Footer col-->
            <selection class="footer-col">
                <h4>Cadastre-se para mais!</h4>
                <selection class="form-sub">
                    <form>
                        <button><a href="./login/login.html"> Cadastre-se</a></button>
                    </form>
                </selection>
                <selection class="medias-socias">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-github"></i></a>

                </selection>
            </selection>
</footer>