<%- include("../partial/header") %>

<header> 
    <a href="#" class="logo"><i class="ri-ancient-gate-fill"></i><span>Skooterz™</span>
</a>
    </a>
    </selection>
    <ul class="navbar">
        
        <li><a href="#">Shapes </a></li>
        <li><a href="#">Skates </a></li>
        <li><a href="#">Roupas </a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Tenis</a></li>
        
    </ul><!--Cabecalho-Link-->
<selection class="main">
    <a href="./login/login.html" class="user" id="user"><i class="ri-user-3-fill"></i>Faça seu login <br>ou registre-se</a>
    <selection class="bx bx-menu" id="menu-icon"></selection>
    <selection class="search-box">
        <input type="text" class="search-txt" placeholder="Pesquisar">
        <a href="#" class="search-btn">
            <img src="./images/001-loupe.png" alt="Lupa" height="20" width="20" ></a>
    </selection>

</header>