
<%- include("../partial/produtos") %>

<section class="produtos">
    <selection class="produto-card">
        <img src="images/Skate_1.png" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>


    <selection class="produto-card">
        <img src="images/Skate_2.jpg" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
    <selection class="produto-card">
        <img src="images/Skate_3.jpg" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
    <selection class="produto-card">
        <img src="images/Skate_4.jpg" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
</section>

<section class="produtos">
    <selection class="tenis-card">
        <img src="images/produto_1.avif" alt="imagem do produto">
        <h2><a href="./paginacompra/buypage.html">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="./paginacompra/buypage.html" class="buy">Compre Agora</a>
    </selection>
    <selection class="tenis-card">
        <img src="images/produto_2.avif" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
    <selection class="tenis-card">
        <img src="images/produto_3.avif" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
    <selection class="tenis-card">
        <img src="images/produto_4.avif" alt="imagem do produto">
        <h2><a href="#">Titulo do produto</a></h2>
        <p class="preço">Preço original: R$20,99</p>
        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
        <p class="desconto"> Você economiza: R$ 10.00</p>
        <a href="#" class="buy">Compre Agora</a>
    </selection>
</section>