<%- include("../partial/section-users") %>


<section id="section-users">
    <selection class="avaliation-text">
        <h2 class="text">Veja avaliações de clientes <a>Skooterz</a></h2>
    </selection>
    <selection class="users_content">
        <selection class="users_card">
            <selection class="user_infos">
                <img src="./images/foto_usuario1.jpg" alt="Imagem ilustrativa do usuário">
                <span>@Julia_sk8</span>
            </selection>
            <p class="p__child-avaliation-card">Esse com certeza é o melhor site para quem ama o esporte </p>
        </selection>
        <selection class="users_card">
            <selection class="user_infos">
                <img src="./images/foto_usuario2.jpg" alt="Imagem ilustrativa do usuário">
                <span>@Chorão_underground</span>
            </selection>
            <p class="p__child-avaliation-card">A grande variedade de produtos e atenção com o consumidor é
                sensacional</p>
        </selection>
        <selection class="users_card">
            <selection class="user_infos">
                <img src="./images/foto_usuario3.jpg" alt="Imagem ilustrativa do usuário">
                <span>@Raissa_Leal</span>
            </selection>
            <p class="p__child-avaliation-card">Encontrei os melhores shapes do mercado nesta loja!!</p>
        </selection>
    </selection>
</section>