<%- include("../partial/slider") %>

<section class="slider">
    <selection class="slider-content">
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">
        <input type="radio" name="btn-radio" id="radio4">

        <selection class="slide-box primeiro">
            <img class="img-desktop"
                src="./images/1-slide-1681500885236-4814946635-4ce3495d82009e69de6a53691ec8eca41681500889-1920-1920.webp"
                alt="slide 1">
            <img class="img-mobile" src="./images/Design sem nome (3).png" alt="slide 1">
        </selection>

        <selection class="slide-box">
            <img class="img-desktop"
                src="./images/1-slide-1684518683347-3954613135-2d57cdae14f1b5d29efe4a08874b835b1684518687-1920-1920.webp"
                alt="slide 2">
            <img class="img-mobile" src="./images/Design sem nome (4).png" alt="slide 2">
        </selection>

        <selection class="slide-box">
            <img class="img-desktop"
                src="./images/1-slide-1684869508503-8028506649-bb64843e00c5fbe1bcf0340d1a83fdd21684869510-1920-1920.webp"
                alt="slide 3">
            <img class="img-mobile" src="./images/Design sem nome (5).png" alt="3">
        </selection>

        <selection class="slide-box">
            <img class="img-desktop"
                src="./images/1-slide-1685127719459-53481262-5b468c34f66eec721be45953a38e77bc1685127722-1920-1920.webp"
                alt="slide 4">
            <img class="img-mobile" src="./images/Design sem nome (6).png" alt="3">
        </selection>

        <selection class="nav-auto">
            <selection class="auto-btn1"></selection>
            <selection class="auto-btn2"></selection>
            <selection class="auto-btn3"></selection>
            <selection class="auto-btn4"></selection>
        </selection>

        <selection class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </selection>
    </selection>
</section>