:root {
    --font-corpo: 'Poppins', sans-serif;
}

h1 {
    padding-top: 3vh;
    text-align: center;
    font-family: var(--font-corpo);
}
.produto-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.produto-link 
.COMPRAR{
    border: 1px solid rgb(130, 10, 209);
    border-radius: 15px;
    margin: 30px;
    padding: 5px;
    padding: px;
    text-transform: uppercase;
    background-color: rgb(130, 10, 209);
    color: white;
    font-family: var(--font-corpo);
}
a.COMPRAR{
    color: white;
}
#resultados-pesquisa {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 999;
    display: flex;
    max-height: 800px;
    width: 50%;
    overflow-y: auto;
    border: 1px solid #ddd;
    box-shadow: 1px 9px 8px 20px rgb(0 0 0 / 14%);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.produto-card-pesquisa {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.produto-card-pesquisa img {
    padding: 15px;
    width: 100%;
    max-width: 200px; /* Largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px;
}

.produto-card-pesquisa h2 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Garante que o link do nome não ultrapasse a largura do card */
}

.produto-card-pesquisa a {
    color: black;
    text-decoration: none;
    font-family: var(--font-corpo);
    font-size: large;
}

.produto-card-pesquisa p {
    line-height: 1.5;
    font-family: var(--font-corpo);
}



.titulo-promo {
    padding-top: 7vh;
    text-align: center;
}

.todos, .promo {
    color: rgb(130, 10, 209);
    font-family: var(--font-corpo);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 30px 0px 30px;
}

.produto-card {
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produto-card img {
    padding: 15px;
    width: 100%;
    max-width: 200px; /* Largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px;
}

.produto-card h2 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Garante que o link do nome não ultrapasse a largura do card */
}

.produto-card a {
    color: black;
    text-decoration: none;
    font-family: var(--font-corpo);
    font-size: large;
}

.produto-card p {
    line-height: 1.5;
    font-family: var(--font-corpo);
}

.preço {
    color: grey;
    text-transform: uppercase;
    font-family: var(--font-corpo);
}

.preço-atual span.preço-atual {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-family: var(--font-corpo);
}

p.desconto {
    color: green;
    padding-bottom: 20px;
}

a.buy {
    border: 1px solid rgb(130, 10, 209);
    border-radius: 15px;
    text-transform: uppercase;
    padding: 4% 8%;
    background-color: rgb(130, 10, 209);
    color: white;
    font-family: var(--font-corpo);
}

a.buy:hover {
    border-color: rgb(130, 10, 209);
    background-color: white;
    color: rgb(130, 10, 209);
    transition: 0.3s;
}

.produto-card img:hover, .tenis-card img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


@media screen and (max-width: 625px) {
    .produto-card img, .tenis-card img {
        max-width: 150px; /* Ajusta a largura da imagem em telas menores */
    }

    .produto-card a, .tenis-card a {
        font-size: 15px;
    }

    h2 {
        font-size: 1.1rem;
    }

    .preço, .preço-atual, .desconto {
        font-size: 0.7rem;
        padding: 0 4px;
    }

    .produtos {
        gap: 12.5px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta colunas em telas menores */
    }

    a.buy {
        font-size: 12px;
    }

    .produto-link h3{
        font-size: 14px;
    }

    .produto-link p{
        font-size: 15px;
    }
    #resultados-pesquisa{
        position: fixed;
        padding: px;
        top: 80px;
        left: 23%;
        width: 100%;
        align-content: center;
    }
    .produto-card-pesquisa img{
        max-width: 150px;
    }
}
