<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skooterz™</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/carrossel.css">
    <link rel="stylesheet" href="../css/produtos.css">
    <link rel="stylesheet" href="../css/avaliação.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/shape.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body onload="updateUserUI()">
        <header>
        <a href="/" class="logo"><i class="ri-ancient-gate-fill"></i><span>Skooterz™</span>
        </a>
        </a>
        </section>
        <ul class="navbar">

            <li><a href="/shape">Shapes </a></li>
            <li><a href="/skate">Skates </a></li>
            <li><a href="/roupas">Roupas </a></li>
            <li><a href="/acessorios">Acessórios</a></li>
            <li><a href="/tenis">Tenis</a></li>

        </ul><!--Cabecalho-Link-->
        <section class="main">
            <a href="#" class="user" id="user">
                <i class="ri-user-3-fill"></i> Faça seu login <br>ou registre-se
            </a>
            <section class="bx bx-menu" id="menu-icon"></section>
            <section class="search-box">
                <input type="text" class="search-txt" placeholder="Pesquisar">
                <a href="#" class="search-btn">
                    <img src="../imagens/001-loupe.png" alt="Lupa" height="20" width="20">
                </a>
            </section>
            <section id="user-dropdown" class="dropdown hidden">
                <a onclick="logoutUser()" id="logout"><i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i>ㅤLogout</a>
            </section>
        </section>
        </header>
        <h1 class="titulo-promo"> Eleve seu visual com <a class="promo">acessorios</a> da Skooterz</h1>
        <section class="selecao_produtos">
            <section class="container">
                <section class="breadcrumb">
                    <a href="/">Home</a> > Acessórios
                </section>
                <section class="filter">
                    <p>Filtrar por:</p>
                    <section class="bloco-checkbox">
                    <section class="section">
                        <h2>Cor</h2>
                        <input type="checkbox" id="rosa" name="cor" value="rosa">
                        <label for="rosa">Rosa</label><br>
                        <input type="checkbox" id="amarelo" name="cor" value="amarelo">
                        <label for="amarelo">Amarelo</label><br>
                        <input type="checkbox" id="verde" name="cor" value="verde">
                        <label for="verde">Verde</label><br>
                        <input type="checkbox" id="roxo" name="cor" value="roxo">
                        <label for="roxo">Roxo</label><br>
                        <input type="checkbox" id="preto" name="cor" value="preto">
                        <label for="preto">Preto</label><br>
                    </section>
                    <section class="section">
                        <h2>Acessórios</h2>
                        <input type="checkbox" id="rosa" name="cor" value="rosa">
                        <label for="rosa">Adesivos</label><br>
                        <input type="checkbox" id="amarelo" name="cor" value="amarelo">
                        <label for="amarelo">Trucks</label><br>
                        <input type="checkbox" id="verde" name="cor" value="verde">
                        <label for="verde">Capacetes</label><br>
                        <input type="checkbox" id="roxo" name="cor" value="roxo">
                        <label for="roxo">Rolamentos</label><br>
                        <input type="checkbox" id="preto" name="cor" value="preto">
                        <label for="preto">Rodas</label><br>
                    </section>
                    <section class="section">
                        <h2>Marcas</h2>
                        <input type="checkbox" id="rosa" name="cor" value="rosa">
                        <label for="rosa">Rosa</label><br>
                        <input type="checkbox" id="amarelo" name="cor" value="amarelo">
                        <label for="amarelo">Amarelo</label><br>
                        <input type="checkbox" id="verde" name="cor" value="verde">
                        <label for="verde">Verde</label><br>
                        <input type="checkbox" id="roxo" name="cor" value="roxo">
                        <label for="roxo">Roxo</label><br>
                        <input type="checkbox" id="preto" name="cor" value="preto">
                        <label for="preto">Preto</label><br>
                    </section>
                    </section>
                </section>
            </section>
            <section class="produtos">
            <section class="produto-card">
            <img src="../imagens/Skate_1.png" alt="imagem do produto">
            <h2><a href="#">Titulo do produto</a></h2>
            <p class="preço">Preço original: R$20,99</p>
            <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
            <p class="desconto"> Você economiza: R$ 10.00</p>
            <a href="#" class="buy">Compre Agora</a>
            </section>
            <section class="produto-card">
                <img src="../imagens/Skate_2.jpg" alt="imagem do produto">
                <h2><a href="#">Titulo do produto</a></h2>
                <p class="preço">Preço original: R$20,99</p>
                <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                <p class="desconto"> Você economiza: R$ 10.00</p>
                <a href="#" class="buy">Compre Agora</a>
                </section>
                <section class="produto-card">
                    <img src="../imagens/Skate_3.jpg" alt="imagem do produto">
                    <h2><a href="#">Titulo do produto</a></h2>
                    <p class="preço">Preço original: R$20,99</p>
                    <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                    <p class="desconto"> Você economiza: R$ 10.00</p>
                    <a href="#" class="buy">Compre Agora</a>
                    </section>
                    <section class="produto-card">
                        <img src="../imagens/Skate_4.jpg" alt="imagem do produto">
                        <h2><a href="#">Titulo do produto</a></h2>
                        <p class="preço">Preço original: R$20,99</p>
                        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                        <p class="desconto"> Você economiza: R$ 10.00</p>
                        <a href="#" class="buy">Compre Agora</a>
                        </section>
                        <section class="produto-card">
                            <img src="../imagens/Skate_1.png" alt="imagem do produto">
                            <h2><a href="#">Titulo do produto</a></h2>
                            <p class="preço">Preço original: R$20,99</p>
                            <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                            <p class="desconto"> Você economiza: R$ 10.00</p>
                            <a href="#" class="buy">Compre Agora</a>
                            </section>
                            <section class="produto-card">
                                <img src="../imagens/Skate_2.jpg" alt="imagem do produto">
                                <h2><a href="#">Titulo do produto</a></h2>
                                <p class="preço">Preço original: R$20,99</p>
                                <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                                <p class="desconto"> Você economiza: R$ 10.00</p>
                                <a href="#" class="buy">Compre Agora</a>
                                </section>
                                <section class="produto-card">
                                    <img src="../imagens/Skate_3.jpg" alt="imagem do produto">
                                    <h2><a href="#">Titulo do produto</a></h2>
                                    <p class="preço">Preço original: R$20,99</p>
                                    <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                                    <p class="desconto"> Você economiza: R$ 10.00</p>
                                    <a href="#" class="buy">Compre Agora</a>
                                    </section>
                                    <section class="produto-card">
                                        <img src="../imagens/Skate_4.jpg" alt="imagem do produto">
                                        <h2><a href="#">Titulo do produto</a></h2>
                                        <p class="preço">Preço original: R$20,99</p>
                                        <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                                        <p class="desconto"> Você economiza: R$ 10.00</p>
                                        <a href="#" class="buy">Compre Agora</a>
                                        </section>
                                        <section class="produto-card">
                                            <img src="../imagens/Skate_1.png" alt="imagem do produto">
                                            <h2><a href="#">Titulo do produto</a></h2>
                                            <p class="preço">Preço original: R$20,99</p>
                                            <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                                            <p class="desconto"> Você economiza: R$ 10.00</p>
                                            <a href="#" class="buy">Compre Agora</a>
                                            </section>
                                            <section class="produto-card">
                                                <img src="../imagens/Skate_1.png" alt="imagem do produto">
                                                <h2><a href="#">Titulo do produto</a></h2>
                                                <p class="preço">Preço original: R$20,99</p>
                                                <p class="preço-atual"> Preço atual: <span class="preço-atual">R$ 10,99</span></p>
                                                <p class="desconto"> Você economiza: R$ 10.00</p>
                                                <a href="#" class="buy">Compre Agora</a>
                                                </section>
                                        
                                            
        </section>
    </section>
    <footer>
        <section class="container-footer">
          <section class="row-footer">
              <!-- Footer col-->
              <section class="footer-col">
                  <h4>Empresa</h4>
                  <ul>
                      <li> <a href=""> Quem Somos</a> </li>
                      <li> <a href=""> Politíca de privacidade</a> </li>
                      <li> <a href=""> Agregados/Afiliados </a> </li>
                  </ul>
                  
              </section>
              
              <!--end footer col-->
              <!-- Footer col-->
              <section class="footer-col">
                  <h4>Obter Ajuda</h4>
                  <ul>
                      <li> <a href=""> Devoluções</a> </li>
                      <li> <a href=""> Status de pedido </a> </li>
                      <li> <a href=""> Opções de pagamento  </a> </li>
                  </ul>
                  
              </section>
              <!--end footer col-->
              <!-- Footer col-->
              <section class="footer-col">
                  <h4>Entre em contato</h4>
                  <ul>
                      <li> <a href=""><i class="fa fa-whatsapp"></i> 551199999-9999</a> </li>
                      <li> <a href=""> sk8california@gmail.com</a> </li>
                      <li> <a href=""> Rua sucesso</a> </li>
                    
                      
                  </ul>
                  
              </section>
              <!--end footer col-->
              <!-- Footer col-->
              <section class="footer-col">
                  <h4>Cadastre-se para mais!</h4>
                  <section class="form-sub">
                      <form>
                        <button><a href="./login/login.html"> Cadastre-se</a></button>
                      </form>
                  </section>
                  <section class="medias-socias">
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-instagram"></i></a>
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-github"></i></a>

                    </section>
              </section>
      </footer>
        <script src="../js/script.js"></script>
    </body>
</html>