<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Faça seu login ou registre-se</title>
  </head>

  <body>
    
    <section class="container-empresa" id="container-empresa">
      <section class="forms-container">
        <section class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Faça seu login</h2>
            <section class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nome" id="login" />
            </section>
            <section class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" id="senha" />
            </section>
            <input type="submit" onclick="logar_empresa(); return false" class="btn-empresa"> 
            </section>
          </form>
        
        <script>
        function logar_empresa() {
        const login = document.getElementById('login').value;
        const senha = document.getElementById('senha').value;
        

        fetch('http://localhost:3000/login_empresa', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ nome: login, password: senha }),
        })
        .then(response => response.json())
        .then(data => {
            console.log("retorno login", data)
            if (data.success) {
                localStorage.setItem('userName', data.info_empresas.NOME_EMPRESAS);
                localStorage.setItem('token', data.token)
                localStorage.setItem('empresa', JSON.stringify(data.info_empresas))
                window.location.href = '/editar_empresa'; // Redirecione para a página inicial
            } else {
                new Notify({
                    status: 'error',
                    title: 'Erro ao fazer login!',
                    text: 'Verifique seus dados e tente novamente!',
                    effect: 'fade',
                    speed: 300,
                    customClass: '',
                    customIcon: '',
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    notificationsGap: null,
                    notificationsPadding: null,
                    type: 'outline',
                    position: 'x-center',
                    customWrapper: '',
                });
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            new Notify({
                status: 'error',
                title: 'Erro ao fazer login!',
                text: 'Ocorreu um erro ao tentar fazer login. Por favor, tente novamente mais tarde.',
                effect: 'fade',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: 3000,
                notificationsGap: null,
                notificationsPadding: null,
                type: 'outline',
                position: 'x-center',
                customWrapper: '',
            });
        });
    }


    const form = document.getElementById('container');
    const username = document.getElementById('username');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const passwordtwo = document.getElementById('password-two');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        checkInputs();
    });

    function checkInputs() {
        const usernameValue = username.value.trim();
        const emailValue = email.value.trim();
        const passwordValue = password.value.trim();
        const passwordtwoValue = passwordtwo.value.trim();

        let valid = true;

        if (usernameValue === '') {
            setErrorFor(username, 'Preencha esse campo');
            valid = false;
        } else {
            setSuccessFor(username);
        }

        if (emailValue === '') {
            setErrorFor(email, 'Preencha esse campo');
            valid = false;
        } else if (!isEmail(emailValue)) {
            setErrorFor(email, 'Email inválido');
            valid = false;
        } else {
            setSuccessFor(email);
        }

        if (passwordValue === '' || passwordValue.length < 8) {
            setErrorFor(password, 'Senha deve ter mais que 8 caracteres');
            valid = false;
        } else {
            setSuccessFor(password);
        }

        if (passwordtwoValue === '') {
            setErrorFor(passwordtwo, 'Preencha esse campo');
            valid = false;
        } else if (passwordValue !== passwordtwoValue) {
            setErrorFor(passwordtwo, 'Senhas não são iguais');
            valid = false;
        } else {
            setSuccessFor(passwordtwo);
        }

        /*if (valid) {
            // Se todas as validações passarem, faça a requisição ao backend
            fetch('http://localhost:3000/criar_usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    nome: usernameValue,
                    email: emailValue,
                    password: passwordValue,
                    confirmPassword: passwordtwoValue
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }*/
    }

    function setErrorFor(input, message) {
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');

        small.innerText = message;

        formControl.className = 'input-field error';
    }

    function setSuccessFor(input) {
        const formControl = input.parentElement;
        formControl.className = 'input-field success';
    }

    function isEmail(email) {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }

        </script>
      </section>
    </section>

      <section class="panels-container">
        <section class="panel left-panel">
          <section class="content">
            <h3>Olá vendedor!</h3>
            <p>
              Faça seu login e aproveite tudo o que nosso site tem a oferecer
            </p>
          </section>
          <img src="../imagens_login/ImagemPai.svg" class="image" alt="" />
        </section>
      </section>
    </section>

    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>