<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <title>Faça seu login ou registre-se</title>
  </head>

  <body>
    
    <section class="container" id="container">
      <section class="forms-container">
        <section class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Faça seu login</h2>
            <section class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nome" id="login" />
            </section>
            <section class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" id="senha" />
            </section>
            <input type="submit" onclick="logar(); return false" class="btn solid"> 
            <p class="social-text">Ou nos siga em outras redes sociais</p>
            <section class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </section>
          </form>
          <form action="#" class="sign-up-form" id="signUpForm">
            <h2 class="title">Cadastre-se</h2>
            <section class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nome" id="username" />
                <section class="img-control">
                    <i class="img-success"><img src="../imagens_login/success-icon.svg" alt=""></i>
                    <i class="img-error"><img src="../imagens_login/error-icon.svg" alt=""></i>
                </section>
                <small>Error Message</small>
            </section>
            <section class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" id="email"/>
                <section class="img-control">
                    <i class="img-success"><img src="../imagens_login/success-icon.svg" alt=""></i>
                    <i class="img-error"><img src="../imagens_login/error-icon.svg" alt=""></i>
                </section>
                <small>Error Message</small>
            </section>
            <section class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Senha" id="password"/>
                <section class="img-control">
                    <i class="img-success"><img src="../imagens_login/success-icon.svg" alt=""></i>
                    <i class="img-error"><img src="../imagens_login/error-icon.svg" alt=""></i>
                </section>
                <small>Error Message</small>
            </section>
            <section class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirme a senha" id="password-two"/>
                <section class="img-control">
                    <i class="img-success"><img src="../imagens_login/success-icon.svg" alt=""></i>
                    <i class="img-error"><img src="../imagens_login/error-icon.svg" alt=""></i>
                </section>
                <section class="aviso"><p>*Mínimo 8 caracteres</p></section>
                <small>Error Message</small>
            </section>
            <input type="submit" class="btn" value="Registre-se" />
            <p class="social-text">Ou nos siga em outras redes sociais</p>
            <section class="social-media">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            </section>
        </form>
        
        <script>
        document.getElementById('signUpForm').addEventListener('submit', function(e) {
            e.preventDefault();
        
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('password-two').value;
        
            fetch('http://localhost:3000/criar_usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nome: username, email: email, password: password, confirmPassword: confirmPassword }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    console.log('Success:', data);
                    new Notify({
                        status: 'success',
                        title: 'Usuário Cadastrado!',
                        text: 'Você foi cadastrado com sucesso, faça seu login :)',
                        effect: 'fade',
                        speed: 300,
                        customClass: '',
                        customIcon: '',
                        showIcon: true,
                        showCloseButton: true,
                        autoclose: true,
                        autotimeout: 3000,
                        notificationsGap: null,
                        notificationsPadding: null,
                        type: 'outline',
                        position: 'x-center',
                        customWrapper: '',
                    });
                } else {
                    console.error('Erro ao cadastrar:', data.error);
                    new Notify({
                        status: 'error',
                        title: 'Erro ao se cadastrar!',
                        text: data.error || 'Verifique suas informações e tente novamente!',
                        effect: 'fade',
                        speed: 300,
                        customClass: '',
                        customIcon: '',
                        showIcon: true,
                        showCloseButton: true,
                        autoclose: true,
                        autotimeout: 3000,
                        notificationsGap: null,
                        notificationsPadding: null,
                        type: 'outline',
                        position: 'x-center',
                        customWrapper: '',
                    });
                }
            })
            .catch((error) => {
                console.error('Erro:', error);
                new Notify({
                    status: 'error',
                    title: 'Erro ao se cadastrar!',
                    text: 'Ocorreu um erro no servidor, por favor, tente novamente mais tarde.',
                    effect: 'fade',
                    speed: 300,
                    customClass: '',
                    customIcon: '',
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    notificationsGap: null,
                    notificationsPadding: null,
                    type: 'outline',
                    position: 'x-center',
                    customWrapper: '',
                });
            });
        });
        </script>
      </section>
    </section>

      <section class="panels-container">
        <section class="panel left-panel">
          <section class="content">
            <h3>Novo aqui?</h3>
            <p>
              Não perca mais tempo! Registre-se agora e aproveite tudo o que nosso site tem a oferecer
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Registre-se
            </button>
          </section>
          <img src="../imagens_login/ImagemPai.svg" class="image" alt="" />
        </section>
        <section class="panel right-panel">
          <section class="content">
            <h3>Já é cliente?</h3>
            <p>
              Bem-vindo(a)! Entre no nosso site e faça parte da nossa comunidade.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Faça seu login
            </button>
          </section>
          <img src="../imagens_login/LoginImage.svg" class="image" alt="" />
        </section>
      </section>
    </section>

    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>